#messages .wrapper {
  background-color: #e8e8e8;
  padding: 20px;
  display: flex;
}
#messages .wrapper .dialogs {
  background-color: #ffffff;
  width: 29%;
  padding: 20px;
  box-sizing: border-box;
  margin-right: 10px;
  height: 590px;
}
#messages .wrapper .dialogs .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  font-size: 20px;
  padding-bottom: 30px;
  overflow: hidden;
}
#messages .wrapper .dialogs .title .add {
  font-size: 28px;
  width: 30px;
  height: 30px;
  color: grey;
  padding: 0;
  margin: 0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
}
#messages .wrapper .dialogs .title .add:hover {
  background: #f3f3f3;
  cursor: pointer;
}
#messages .wrapper .dialogs .title .add .plus {
  margin-top: -6px;
}
#messages .wrapper .messages {
  background-color: #ffffff;
  padding: 20px;
  box-sizing: border-box;
  margin-left: 10px;
  width: 70%;
  position: sticky;
  height: 590px;
  overflow: hidden;
}
#messages .wrapper .messages .messagesList {
  padding-bottom: 60px;
  height: calc(100% - 74px);
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
#messages .wrapper .messages .messagesList::-webkit-scrollbar {
  width: 0;
}
#messages .wrapper .messages .messagesList .message {
  width: 100%;
  display: grid;
  justify-items: start;
}
#messages .wrapper .messages .messagesList .message .text {
  display: inline-block;
  margin: 0;
  padding: 8px;
  border-radius: 5px;
  background-color: #EBEEF3;
}
#messages .wrapper .messages .messagesList .message .name {
  display: block;
  color: grey;
  font-size: 12px;
  padding: 5px;
}
#messages .wrapper .messages .messagesList .self_message {
  width: 100%;
  display: grid;
  justify-items: end;
}
#messages .wrapper .messages .messagesList .self_message .text {
  display: inline-block;
  margin: 0;
  padding: 8px;
  border-radius: 5px;
  background-color: #EBEEF3;
}
#messages .wrapper .messages .messagesList .self_message .name {
  display: block;
  color: grey;
  font-size: 12px;
  padding: 5px;
  text-align: right;
}
#messages .wrapper .messages .input {
  position: absolute;
  bottom: 0;
  right: 20px;
  left: 20px;
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  background-color: white;
}
#messages .wrapper .messages .input .textarea {
  font-size: 16px;
  color: #8f9194;
  display: block;
  border-radius: 3px;
  height: 22px;
  padding: 5px;
  outline: none;
  width: calc(100% - 90px);
}
#messages .wrapper .messages .input .send {
  display: inline-block;
  background-color: #e44231;
  border-radius: 3px;
  color: #ffffff;
  transition: 0.25s;
  font-size: 13px;
  border: 0;
  width: 90px;
  height: 34px;
  outline: none;
}
#messages .wrapper .messages .input .send:hover {
  cursor: pointer;
  background-color: #ea6b5e;
}
#messages .create_dialog {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 100;
}
#messages .create_dialog .create_content {
  background: white;
  width: 500px;
  border-radius: 5px;
  margin: 300px auto 0 auto;
  padding: 15px;
}
#messages .create_dialog .create_content p {
  text-align: center;
  font-size: 24px;
  margin: 0 0 40px 0;
  padding: 0;
}
#messages .create_dialog .create_content form {
  display: flex;
  flex-direction: column;
}
#messages .create_dialog .create_content form button {
  margin: 15px auto 0 auto;
  display: inline-block;
  background-color: #e44231;
  border-radius: 3px;
  color: #ffffff;
  transition: 0.25s;
  font-size: 14px;
  border: 0;
  width: 90px;
  height: 34px;
  outline: none;
}
#messages .create_dialog .create_content form button:hover {
  cursor: pointer;
  background-color: #ea6b5e;
}

@media screen and (max-width: 890px) {
  #messages .wrapper {
    padding: 15px;
  }
  #messages .wrapper .dialogs {
    padding: 15px;
  }
  #messages .wrapper .messages {
    padding: 15px;
  }
  #messages .wrapper .messages .input {
    right: 15px;
    left: 15px;
    padding-bottom: 15px;
  }
}
@media screen and (max-width: 380px) {
  #messages .wrapper {
    margin: 0;
    padding: 0;
  }
  #messages .wrapper .dialogs {
    width: 0;
    display: none;
    padding: 0;
    margin: 0;
  }
  #messages .wrapper .messages {
    width: 100%;
    height: 100vh;
    margin: 0;
  }
}

/*# sourceMappingURL=Messages.module.css.map */
