.registerForm form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 15px;
}

.field {
    width: 400px;
    box-sizing: border-box;
    margin: 10px 0;
    padding: 12px;
    background-color: #ffffff;
}

.buttonRegister {
    display: inline-block;
    background-color: #787878;
    border-radius: 3px;
    color: #ffffff;
    transition: 0.25s;
    font-size: 15px;
    border: none;
    outline: none;
    padding: 10px 20px;
}